# next 5 lines to ignore all but .gitkeep and .gitignore in all subdirectories
*
*/
!.gitkeep
!.gitignore
!*/


!config/homeassistant/automations.yaml
!config/homeassistant/scripts.yaml
!config/homeassistant/configuration.yaml
!config/homeassistant/sensors.yaml
