# Common environment
TZ=Asia/Tokyo
PUID=1000
PGID=1000

# Networking
# to allow all network ip 192.168.xxx.xxx as local
LOCAL_NETWORK=192.168.0.0/16

# Home Assistant
# Use homeassistant:stable when running not on Raspberry Pi

# Mosquitto
MQTT_SERVER=mqtt://localhost:1888
MQTT_USER=user
MQTT_PASSWORD=password

# Directories
DATA=/mnt/data
DOWNLOADS=/mnt/data/downloads
WATCH=/mnt/data/downloads/watch
MEDIA=/mnt/data/media
MOVIES=/mnt/data/media/movies
TV=/mnt/data/media/tv

# NordVPN
# Found with command :
# sudo docker run --rm --cap-add=NET_ADMIN -e USER=email \
# -e PASS=password -e legacy bubuntux/nordvpn:get_private_key
NORDVPN_PRIVATE_KEY= XXXXXXXXXXXXXXXXXXXXXXXXX

# Samba
SAMBA_USER=user
SAMBA_PASSWORD=password
