# .gitignore
# git ignore is read from top to bottom
# start by excluding the large folders we do not track
# then include (!) the tree structures and files  we want to keep
# finally, ignore generic and secret files

# Specific keeps
!.gitkeep

# Generic ignores
*.log*
*.conf
*.db*
*.pyc
._*
__pycache__
.env

# IDE
.vscode
.Trash*

